

.textNavbar {
    color: white !important;
}

.table {
  background-color: #cececead;
}

#welcome {
  padding-top: 20px;
  font-family: 'Fonte';
  color: #608b75;
}

#valor-cashback {
  color: #8dcb78;
  font-size: 100px;
  text-align: center;
}

#cashback {
  color: #8dcb78;
  text-align: center;
}

.botaoEditar {
    width: 30px;
    height: 30px;
}

.botaoExcluir {
    width: 30px;
    height: 30px;
}

#botaoSalvar {
  background-color:#8dcb78;
  border: none !important;
}

#novaCompra {
  background-color:#8dcb78;
  color:white;
  border: none !important;
}
.header {
  color: #608b75;
}

table,
thead,
tr,
tbody,
th,
td {
  text-align: center;
}

.linhas {
  color: #575858;
}

.table td {
  text-align: center;
}
