<div>
    <app-navbar></app-navbar>
    <div class="container">
        <div style="margin-top: 10px;">
            <h2 id="welcome"></h2>
            <br>
            <div>
              <p>{{total}}</p>
              <p>Esse é o seu valor total de cashback acumulado!</p>
            </div>
            <button type="button" (click)="modalCriar(content)" id="novaCompra" class="btn btn-primary"> + Nova Compra</button>
        </div>
        <ng-template #content let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Dados da Compra</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form [formGroup]="criarForm">
              <div class="form-group">
                <label for="codigo">Código</label>
                <input type="number" formControlName="codigo" class="form-control"/>
              </div>
              <div class="form-group">
                <label for="valor">Valor</label>
                <input type="number" formControlName="valor" class="form-control"/>
              </div>
              <div class="form-group">
                <label for="data">Data</label>
                <input type="date" formControlName="data" class="form-control"/>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="botaoSalvar"  (click)="modal.close('Save click')">Salvar</button>
          </div>
        </ng-template>
        <ng-template #contentEdit let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Dados da Compra</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form [formGroup]="editarForm">
              <div class="form-group">
                <label for="codigo">Código</label>
                <input type="number" formControlName="codigo" class="form-control"/>
              </div>
              <div class="form-group">
                <label for="valor">Valor</label>
                <input type="number" formControlName="valor" class="form-control"/>
              </div>
              <div class="form-group">
                <label for="data">Data</label>
                <input type="date" formControlName="data" class="form-control"/>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="botaoSalvar" (click)="modal.close('Save click')">Salvar</button>
          </div>
        </ng-template>
        <div style="margin-top: 10px;"> 
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col" class="header">Código</th>
                    <th scope="col" class="header">Valor</th>
                    <th scope="col" class="header">Data</th>
                    <th scope="col" class="header">Cashback (%)</th>
                    <th scope="col" class="header">Cashback (R$)</th>
                    <th scope="col" class="header">Status</th>
                    <th scope="col" class="header">Editar</th>
                    <th scope="col" class="header">Remover</th>
                  </tr>
                </thead>
                <tbody id="tabelaCompras">
                  
                  <tr *ngFor="let compra of compras">
                    <td class="linhas">{{compra.cod}}</td>
                    <td class="linhas">{{compra.valor}}</td>
                    <td class="linhas">{{this.converterData(compra.data)}}</td>
                    <td class="linhas">{{compra.cashbackPercent}}</td>
                    <td class="linhas">{{compra.cashbackValor}}</td>
                    <td class="linhas">{{compra.status}}</td>
                    <td>
                      <div *ngIf="compra.status == 'Em validação'">
                        <button class="btn btn-primay" (click)="modalEditar(contentEdit,compra)"> 
                          <img src='../../../assets/editar.svg' class="botaoEditar"/>
                        </button>
                      </div>
                    </td>
                    <td>
                      <div *ngIf="compra.status == 'Em validação'">
                        <button class="btn btn-primay" (click)="excluirCompra(compra)">
                          <img src='../../../assets/excluir.svg' class="botaoExcluir"/>
                        </button>
                      </div>
                    </td>
                    </tr>
                </tbody>
              </table>
        </div>
    </div>
  </div>



