<div>
    <app-navbar></app-navbar>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h2 class="dev">DADOS DA DESENVOLVEDORA</h2>
                <p class="texto">Maria Eduarda Maciel</p>
                <p class="texto">macmariaeduarda@gmail.com</p>
                <p class="texto">41996566373</p>
                <p class="texto">Curitiba - PR</p>
            </div>
            <div class="col-sm">
                <img src='../../../assets/maria-eduarda.png' class="imagem float-right">
            </div>
        </div>
    </div>
  </div>




